<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings>
  <add name="EFDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6P2L896\SQLEXPRESS;initial catalog=EFDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="DBEntity" connectionString="metadata=res://*/ProAdmin_Entity_v1.csdl|res://*/ProAdmin_Entity_v1.ssdl|res://*/ProAdmin_Entity_v1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CCEH4FV6\SQLEXPRESS;initial catalog=proadmin_v1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="proadmin_v1Entities" connectionString="metadata=res://*/ProAdminAws_v1.csdl|res://*/ProAdminAws_v1.ssdl|res://*/ProAdminAws_v1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=proadmin.ciynukd5ndgs.ap-southeast-1.rds.amazonaws.com;initial catalog=proadmin_v1;user id=proadmin;password=proadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="ec2amaz-1vsojpn.proadmin_v1.dbo" connectionString="xpoprovider=MSSqlServer;data source=proadmin.ciynukd5ndgs.ap-southeast-1.rds.amazonaws.com;initial catalog=proadmin_v1;multipleactiveresultsets=True;application name=EntityFramework" />
  <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=proadmin.ciynukd5ndgs.ap-southeast-1.rds.amazonaws.com;user id=proadmin;password=proadmin;initial catalog=proadmin_v1;Persist Security Info=true" />
  <add name="localhost_proadmin_v1_Connection" connectionString="XpoProvider=MSSqlServer;data source=proadmin.ciynukd5ndgs.ap-southeast-1.rds.amazonaws.com;user id=proadmin;password=proadmin;initial catalog=proadmin_v1;Persist Security Info=true" />
  <add name="laptop-cceh4fv6\sqlexpress.proadmin_v1.dbo" connectionString="XpoProvider=MSSqlServer;data source=proadmin.ciynukd5ndgs.ap-southeast-1.rds.amazonaws.com;user id=proadmin;password=proadmin;initial catalog=proadmin_v1;Persist Security Info=true" />
</connectionStrings>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
</providers>
</entityFramework>
</configuration>